In [153]:
import investpy
import datetime
import pandas as pd

In [154]:
start = '23/02/2020'
end = '23/02/2021'

df_stock_gold = investpy.get_stock_historical_data(stock='GOLD', 
                                        country = 'United States',
                                        from_date=start,
                                        to_date=end)
print(df_stock_gold.tail())

             Open   High    Low  Close    Volume Currency
Date
2021-02-17  21.31  21.31  20.60  20.83  35609136      USD
2021-02-18  20.85  20.99  20.23  20.32  29436472      USD
2021-02-19  20.36  20.43  19.69  19.78  38062316      USD
2021-02-22  20.00  20.59  19.86  20.53  28933864      USD
2021-02-23  20.52  20.57  19.79  20.16  22755236      USD

In [155]:
df_commodity_gold = investpy.get_commodity_historical_data(commodity='Gold',  
                                        from_date=start,
                                        to_date=end)
print(df_commodity_gold)

              Open    High     Low   Close  Volume Currency
Date
2020-02-24  1673.3  1711.8  1673.3  1697.1    9960      USD
2020-02-25  1681.6  1681.6  1650.0  1670.2    3359      USD
2020-02-26  1656.4  1676.7  1646.7  1662.9    3585      USD
2020-02-27  1668.0  1680.3  1656.0  1661.4    3961      USD
2020-02-28  1667.1  1667.1  1582.0  1583.6    6310      USD
...            ...     ...     ...     ...     ...      ...
2021-02-17  1793.1  1794.2  1767.9  1772.8  257335      USD
2021-02-18  1776.0  1788.8  1766.6  1775.0  224767      USD
2021-02-19  1774.6  1790.9  1759.0  1777.4  251783      USD
2021-02-22  1782.0  1812.4  1778.6  1808.4  221198      USD
2021-02-23  1809.3  1815.2  1794.5  1805.9       0      USD

[265 rows x 6 columns]

In [156]:
df_commodity_copper = investpy.get_commodity_historical_data(commodity='COPPER',  
                                        from_date=start,
                                        to_date=end)
print(df_commodity_copper)

/Users/RobsonRamos/opt/anaconda3/lib/python3.8/site-packages/investpy/commodities.py:529: Warning: Note that the displayed commodity data can differ depending on the country. If you want to retrieve copper data from either united states or united kingdom, specify the country parameter.
  warnings.warn(msg, Warning)

              Open    High     Low   Close  Volume Currency
Date
2020-02-24  2.6075  2.6075  2.5710  2.5875    9653      USD
2020-02-25  2.5850  2.6000  2.5670  2.5850   10375      USD
2020-02-26  2.5700  2.5845  2.5500  2.5760    7888      USD
2020-02-27  2.5695  2.5825  2.5285  2.5730    8025      USD
2020-02-28  2.5650  2.5725  2.5110  2.5445   10172      USD
...            ...     ...     ...     ...     ...      ...
2021-02-17  3.8360  3.8415  3.7965  3.8255   41482      USD
2021-02-18  3.8280  3.9325  3.8240  3.9070   48012      USD
2021-02-19  3.9095  4.0965  3.8930  4.0775   70722      USD
2021-02-22  4.0660  4.2200  4.0660  4.1490   73686      USD
2021-02-23  4.1555  4.2335  4.0975  4.1875       0      USD

[265 rows x 6 columns]

In [157]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [158]:
df = pd.concat([ df_stock_gold['Close'], df_commodity_gold['Close'],df_commodity_copper['Close']],axis=1)
df.columns = ['Gold Corp',  'Gold', 'Copper']
df.dropna(inplace = True)
print(df)
x = pd.concat( [df['Gold'], df['Copper'] ], axis = 1)
print(x)
y = df['Gold Corp']
reg.fit(x, y)

            Gold Corp    Gold  Copper
Date
2020-02-24      22.03  1697.1  2.5875
2020-02-25      21.25  1670.2  2.5850
2020-02-26      21.09  1662.9  2.5760
2020-02-27      19.78  1661.4  2.5730
2020-02-28      19.04  1583.6  2.5445
...               ...     ...     ...
2021-02-17      20.83  1772.8  3.8255
2021-02-18      20.32  1775.0  3.9070
2021-02-19      19.78  1777.4  4.0775
2021-02-22      20.53  1808.4  4.1490
2021-02-23      20.16  1805.9  4.1875

[253 rows x 3 columns]
              Gold  Copper
Date
2020-02-24  1697.1  2.5875
2020-02-25  1670.2  2.5850
2020-02-26  1662.9  2.5760
2020-02-27  1661.4  2.5730
2020-02-28  1583.6  2.5445
...            ...     ...
2021-02-17  1772.8  3.8255
2021-02-18  1775.0  3.9070
2021-02-19  1777.4  4.0775
2021-02-22  1808.4  4.1490
2021-02-23  1805.9  4.1875

[253 rows x 2 columns]

LinearRegression()

In [159]:
print('Intercept: \n', reg.intercept_)
print('Coefficients: \n', reg.coef_)

Intercept:
 -22.50111615085902
Coefficients:
 [ 0.03237593 -3.92277698]

In [164]:
reg.predict([[10, 20]])

array([-100.63289646])

In [232]:
import numpy as np
shift = 10
print(np.arange(-shift, shift + 1, (shift * 2) / 10 ))
abs(shift)

[-10.  -8.  -6.  -4.  -2.   0.   2.   4.   6.   8.  10.]

10

In [190]:
df = pd.DataFrame(index='A B C D E'.split(),columns='W X Y Z'.split())

In [195]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [200]:
df.indexes.append('ZXY')

AttributeError: 'DataFrame' object has no attribute 'indexes'

In [226]:
# Index Levels
outside = ['G1']
inside = [1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [227]:
# Index Levels
outside2 = ['X1']
inside2 = [4,5]
hier_index2 = list(zip(outside2,inside2))
hier_index2 = pd.MultiIndex.from_tuples(hier_index2)

In [228]:
df = pd.DataFrame(np.random.randn(3,2),index=hier_index,columns=hier_index2)
df

ValueError: Shape of passed values is (3, 2), indices imply (1, 1)

In [229]:
index_name = ['Copper'] * 11

In [230]:
index_name

['Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper',
 'Copper']

In [239]:
shift_gold = 10
matrix_dimension = 11
print( ((shift_gold * 2) / (matrix_dimension -1) ) )

print(np.arange( shift_gold * -1, shift_gold + 1, ( (shift_gold * 2) / (matrix_dimension -1) )))

 
#shift = 10
#print(np.arange(-shift, shift + 1, (shift * 2) / 10 ))
#abs(shift)

2.0
[-10.  -8.  -6.  -4.  -2.   0.   2.   4.   6.   8.  10.]

In [21]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [22]:
list = [1, 2, 3]

In [241]:
float('2')

2.0

In [24]:
list

[1, 2, 3]

In [25]:
tuple + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [26]:
my_set = { 1, 2, 3, 4, 1, 2}

In [27]:
my_set

{1, 2, 3, 4}

In [28]:
my_list =[0, 1, 2, 4]

In [29]:
tuple + my_list

TypeError: can only concatenate tuple (not "list") to tuple