In [4]:
# asdadasadasd

In [5]:
1+1

2

In [6]:
2**4

16

In [7]:
5%2

1

In [8]:
int(5 / 2)

2

In [9]:
a = [1,2,3,1]

[1, 2, 3, 1]

In [10]:
a = [1,2,3,1]

In [11]:
a

[1, 2, 3, 1]

In [12]:
a[0] = 1

In [13]:
a

[1, 2, 3, 1]

In [14]:
set(a)

{1, 2, 3}

In [15]:
list = [0, 1, 2]

In [16]:
list

[0, 1, 2]

In [17]:
list[0] = 1

In [18]:
list

[1, 1, 2]

In [19]:
tuple = (1, 2, 3)

In [20]:
t = (1, 2, 3, 4)

In [21]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [22]:
list = [1, 2, 3]

In [23]:
list[0] = 1

In [24]:
list

[1, 2, 3]

In [25]:
tuple + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [26]:
my_set = { 1, 2, 3, 4, 1, 2}

In [27]:
my_set

{1, 2, 3, 4}

In [28]:
my_list =[0, 1, 2, 4]

In [29]:
tuple + my_list

TypeError: can only concatenate tuple (not "list") to tuple