In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

labels = ['a','b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a' : 10, 'b' : 20,  'c': 100}
(pd.Series(my_list, index = labels))
(pd.Series(arr, labels))
(pd.Series(d))
(pd.Series(data=labels))
([sum, print, len])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','FRANCE','GERMANY'])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','ITALY','JAPAN'])
ser1['USA']

1

In [3]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W','X','Y','Z'])
(df) 
(df['W'])  # get the column
(df[ ['W', 'Z'] ]) 
df['new'] = df['W'] + df['Y'] 
df.drop('new', axis = 1, inplace = True) # inplace altera o dataframe 
df.drop('E') 
df.loc['A'] # get the row
df.iloc[2] # get the row numeric way
df.loc['B', 'Y'] # specific location
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A  1.244066  0.580475
B -0.702353 -1.544826

In [4]:
booldf = df > 0
df[booldf]
df[df > 0]
df['W'] > 0 # filter the rows 
df[ df['W'] > 0] # ALL the ROWS that has W > 0
df[df['Z'] < 0]
df[ (df['Z'] < 0) | (df['W'] > 0) ]
df.reset_index() #reset to numeric value
newind = 'CA NY WO OR CO'.split()
df['States'] = newind # create a new columns / series
df.set_index('States') # create a row from the columns

               W         X         Y         Z
States
CA      1.244066 -0.661799  0.580475  0.162234
NY     -0.702353 -1.010188 -1.544826  1.156521
WO      0.575309 -0.533626 -0.734570  1.753336
OR      0.264857  0.923886 -2.111809  0.116027
CO     -0.447094 -1.593679  0.395992 -0.012946

In [23]:
# Index Levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [25]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])
df.index.names = ['Groups', 'Num']
df.loc['G2'].loc[2]['B']
df.xs(1, level = 'Num')

               A         B
Groups
G1     -0.040076 -0.619394
G2      0.426511  0.824882

In [26]:
df.dropna

                   A         B
Groups Num
G1     1   -0.040076 -0.619394
       2   -0.693409  0.762284
       3   -0.278841  0.739019
G2     1    0.426511  0.824882
       2    1.618477  0.126477
       3   -0.868702  0.488252