In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

labels = ['a','b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a' : 10, 'b' : 20,  'c': 100}
(pd.Series(my_list, index = labels))
(pd.Series(arr, labels))
(pd.Series(d))
(pd.Series(data=labels))
([sum, print, len])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','FRANCE','GERMANY'])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','ITALY','JAPAN'])
ser1['USA']

1

In [86]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W','X','Y','Z'])
(df) 
(df['W'])  # get the column
(df[ ['W', 'Z'] ]) 
df['new'] = df['W'] + df['Y'] 
df.drop('new', axis = 1, inplace = True) # inplace altera o dataframe 
df.drop('E') 
df.loc['A'] # get the row
df.iloc[2] # get the row numeric way
df.loc['B', 'Y'] # specific location
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A  0.234749 -0.971749
B -1.037538  0.375857

In [87]:
booldf = df > 0
df[booldf]
df[df > 0]
df['W'] > 0 # filter the rows 
df[ df['W'] > 0] # ALL the ROWS that has W > 0
df[df['Z'] < 0]
df[ (df['Z'] < 0) | (df['W'] > 0) ]
df.reset_index() #reset to numeric value
newind = 'CA NY WO OR CO'.split()
df['States'] = newind # create a new columns / series
df.set_index('States') # create a row from the columns

               W         X         Y         Z
States
CA      0.234749 -1.460650 -0.971749  1.132433
NY     -1.037538 -0.497083  0.375857  0.946224
WO     -0.075853 -0.196879  0.832910  0.216291
OR     -0.682547  1.990721  0.935605 -0.420166
CO      0.082576  0.080061  0.898347  0.324365

In [ ]:
# Index Levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)