In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

labels = ['a','b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a' : 10, 'b' : 20,  'c': 100}
(pd.Series(my_list, index = labels))
(pd.Series(arr, labels))
(pd.Series(d))
(pd.Series(data=labels))
([sum, print, len])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','FRANCE','GERMANY'])
ser1 = pd.Series(data = [1, 2, 3, 4], index = ['USA','CHINA','ITALY','JAPAN'])
ser1['USA']

1

In [43]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W','X','Y','Z'])
(df) 
(df['W'])  # get the column
(df[ ['W', 'Z'] ]) 
df['new'] = df['W'] + df['Y'] 
df.drop('new', axis = 1, inplace = True) # inplace altera o dataframe 
df.drop('E') 
df.loc['A'] # get the row
df.iloc[2] # get the row numeric way
df.loc['B', 'Y'] # specific location
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A -0.908474  0.800151
B -0.346264  2.174893

In [62]:
booldf = df > 0
df[booldf]
df[df > 0]
df['W'] > 0 # filter the rows 
df[ df['W'] > 0] # ALL the ROWS that has W > 0
df[df['Z'] < 0]

          W         X         Y         Z
A -0.908474 -0.121337  0.800151 -0.335240
C  1.864132 -1.199147 -0.151180 -0.293822